BODY {
	background: #000000;
	color : #ffffff;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
}
TD {
	color : #ffffff;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
}
TD.aktualnosci {
	color : #ffffff;
	font-family : Tahoma, sans-serif;
	font-size: 13px;
	background: #005273;
}
TD.section {
	color : #ffffff;
	font-family : Tahoma, sans-serif;
	font-size: 13px;
	background: #005273;
}
TD.subsection {
	color : #ffffff;
	font-family : Tahoma, sans-serif;
	font-size: 13px;
	background: #4F6A7C;
}
H1 {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}
H2 {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}
H3 {
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
P:first-letter {
	margin-left: 20px;
}
OL {
	list-style : decimal;
}
UL {
	list-style : square;
	margin-left: 10px;
}
UL.normal {
	list-style : square;
	margin-left: 10px;
}
LI.normal {
	color: #ffffff;
	margin-left: 10px;
}
LI.submenu {
	color: #ffca44;
	margin-left: 10px;
}
LI.submenuactive {
	margin-left: 10px;
}
A.submenu {
	text-decoration: none;
	font-weight: bold;
	color: #ffca44;;
}
A.submenu:Hover {
	text-decoration: underline;
	font-weight: bold;
	color: #ffff00;
}
A.image {
	text-decoration: none;
	font-weight: bold;
	color: #ffca44;
}
A.image2 {
	text-decoration: none;
	font-weight: bold;
	color: Black;
}
A.hotinfo {
	text-decoration: none;
	font-weight: bold;
	color: #ec1818;
	font-size: 13px;
}
A.hotinfo:Hover {
	text-decoration: underline;
	font-weight: bold;
	color: #ff0000;
}
A.navi {
	text-decoration: none;
	font-weight: bold;
	color: #ffca44;
}
A.navi:Hover {
	text-decoration: underline;
	font-weight: bold;
	color: #ffff00;
}
A.navismall {
	text-decoration: none;
	font-weight: bold;
	color: #ffca44;
	font-size: 10px;
}
A.navismall:Hover {
	text-decoration: underline;
	font-weight: bold;
	color: #ffff00;
	font-size: 10px;
}
.submenuactive {
	text-decoration: underline;
	font-weight: bold;
	color: #ffff00;
}
.submenu {
	text-decoration: none;
	font-weight: bold;
	color: #ffca44;;
}
IMG {
   color: black;
	border : 0px, 0px, 0px, 0px;
}
HR {
	height: 1px;
}
div#menuV { 
	float: left; 
}
div#menuV a { 
        display: block;
	text-align: center;
	text-valign: middle;
	text-decoration: none;
	color: #005273;   
	width: 136px;
	letter-spacing: 1px;
	font-family : Tahoma, sans-serif;
	font-size: 12px;
        font-weight: bold;
	background: #000000; 
}
div#menuV a:hover { 
	color:#edd829;
}
table.border {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #137fbd #137fbd #137fbd #137fbd;
	border-collapse: separate;
	background-color: #000000;
}
table.border th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.border td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.noborder {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.noborder th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.noborder td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
p.hotinfo { 
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}
p.hotinfo:first-letter {
	margin-left: 0px;
}
p.nomargin:first-letter {
	margin-left: 0px;
}
/* PUBLICATION-------------------------------------------------------------- */
p.publication {
	line-height: 1.5em;
	text-align: justify;
	font-size: 11px;
}
p.publication:first-letter {
	margin-left: 0px;
}
table.publicationleftimage {
   float: left; 
	border-width: 5px 10px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.publicationleftimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.publicationleftimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.publicationrightimage {
   float: right; 
	border-width: 5px 0px 0px 10px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.publicationrightimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.publicationrightimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.publicationcenterimage {
   float: center; 
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.publicationrightimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.publicationrightimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* ARTICLE------------------------------------------------------------------ */
p.article {
	line-height: 1.5em;
	text-align: justify;
	font-size: 11px;
}
p.article:first-letter {
	margin-left: 0px;
}
table.articleleftimage {
   float: left; 
	border-width: 5px 10px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.articleleftimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.articleleftimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.articlerightimage {
   float: right; 
	border-width: 5px 0px 0px 10px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.articlerightimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.articlerightimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.articlecenterimage {
        float: center; 
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	border-style: solid solid solid solid;
	border-color: #000000 #000000 #000000 #000000;
	border-collapse: separate;
	background-color: #000000;
}
table.articlerightimage th {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
table.articlerightimage td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
UL.article {
	list-style : square;
	margin-left: 0px;
}
LI.article {
	color: #ffffff;
	margin-left: 0px;
}
/* MENU--------------------------------------------------------------------- */
#MainMenu {
	cursor:pointer;
	font-family: Tahoma, sans-serif;
	font-size:11px;
	color:#005273;
	font-weight:bold;
	text-align:center;
	background:#000000;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	letter-spacing: 1px;
}
#MainMenuActive {
	cursor:pointer;
	font-family: Tahoma, sans-serif;
	font-size:11px;
	color:#edd829;
	font-weight:bold;
	text-align:center;
	background:#000000;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	letter-spacing: 1px;
}
#MainMenu:hover {
	color:#edd829;
}
#MainMenu a {
	color:#005273;
	text-decoration:none;}

#MainMenuActive a {
	color:#edd829;
	text-decoration:none;}
#MainMenu a:hover {
	color:#edd829;
	text-decoration:none;
}
#childX {
	font-family: Tahoma, sans-serif;
	font-size:10px;
	color:white;
	font-weight:bold;
	text-align:center;
	margin-bottom:2px;
	margin-top:2px;
}
#childX a {
	color:white;
	font-weight:bold;
	text-decoration:none;}
#childX a:hover {
	color:#edd829;
	font-weight:bold;
	text-decoration:none;
}
#childXActive {
	font-family: Tahoma, sans-serif;
	font-size:10px;
	color:#edd829;
	font-weight:bold;
	text-align:center;
	margin-bottom:2px;
	margin-top:2px;
}
#childXActive a {
	color:#edd829;
	font-weight:bold;
	text-decoration:none;}

div#MainMenuX {  
	margin-left: 0px;
}
div#MainMenuX a { 
	cursor:pointer;
        display: inline;
	text-decoration: none;
	text-align:center;
	margin-right: 0px;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	color: #005273;   
	letter-spacing: 1px;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
        font-weight: bold;
	background: #000000; 
}
div#MainMenuX a:hover { 
	color:#edd829;
}
div#MainMenuXActive {  
	margin-left: 0px;
}
div#MainMenuXActive a { 
	cursor:pointer;
        display: inline;
	text-decoration: none;
	text-align:center;
	margin-right: 0px;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	color:#edd829;
	letter-spacing: 1px;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
        font-weight: bold;
	background: #000000; 
}

div#MainMenuH {  
	margin-left: 0px;
}
a.MainMenuH { 
	cursor:pointer;
        display: inline;
	text-decoration: none;
	text-align:center;
	margin-right: 0px;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	color: #005273;   
	letter-spacing: 1px;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
        font-weight: bold;
	background: #000000; 
	border-right: 2px solid #005273;
	padding: 0px 10px 0px 10px;
}
a.MainMenuH:hover { 
	color:#edd829;
}
a.MainMenuHActive { 
	cursor:pointer;
        display: inline;
	text-decoration: none;
	text-align:center;
	margin-right: 0px;
	height:20px;
	margin-bottom:3px;
	margin-top:3px;
	color:#edd829;
	letter-spacing: 1px;
	font-family : Tahoma, sans-serif;
	font-size: 11px;
        font-weight: bold;
	background: #000000; 
	border-right: 2px solid #005273;
	padding: 0px 10px 0px 10px;
}
a.MainMenuHActive:hover { 
	color:#edd829;
}
div#MainMenuH ul {
	bottom: 0;
	margin: 0;
	padding: 0 0 0 0px;
	list-style: none;
}
div#MainMenuH ul li {
	float: left;
	color:#edd829;
	margin: 0 0 0 0px;
}

/* RAMKA--------------------------------------------------------------------- */
.szarb_g {background: url(../../_gfx/ramka/szara_dot.gif) 0 0 repeat-x; width: 20em}
.szarb_d {background: url(../../_gfx/ramka/szara_dot.gif) 0 100% repeat-x}
.szarb_l {background: url(../../_gfx/ramka/szara_dot.gif) 0 0 repeat-y}
.szarb_p {background: url(../../_gfx/ramka/szara_dot.gif) 100% 0 repeat-y}
.szarb_ld {background: url(../../_gfx/ramka/ramka_szara_ld.gif) 0 100% no-repeat}
.szarb_pd {background: url(../../_gfx/ramka/ramka_szara_pd.gif) 100% 100% no-repeat}
.szarb_lg {background: url(../../_gfx/ramka/ramka_szara_lg.gif) 0 0 no-repeat}
.szarb_pg {background: url(../../_gfx/ramka/ramka_szara_pg.gif) 100% 0 no-repeat; padding: 14px 15px 14px 20px}
.szarb_pg .linkBox {margin-top: -15px;}

